/* Root Variables */

:root {
  --brand-main: #39213A;
  --brand-secondary: #f8f0f6;
}

body {
  background-color: var(--brand-secondary);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

*{
  font-family: 'Raleway', Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.st0 {
  fill: var(--brand-secondary);
}

.st1 {
  fill: var(--brand-main);
}


/* Header */

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  justify-content: space-between;
  background-color: var(--brand-secondary);
  z-index: 99;
  opacity: 90%;
} 

.nav-logo {
  width: 150px;
}

.nav-logo-main {
  z-index: 100;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}

.left-nav-bg {
  background-color: var(--brand-main);
  width: 85px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 100;
}

.nav-bar {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px;
}

.nav-bar * {
  box-sizing: border-box;
}

.nav-bar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
  margin: 0 20px;
}

.nav-bar a {
  padding: 0.5em 0;
  color: #39213a60;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-bar a:before,
.nav-bar a:after {
  position: absolute;
  -webkit-transition: all 0.15s ease;
  transition: all 0.25s ease;
  transition-delay: 0.05s;
}

.nav-bar a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: var(--brand-main);
}

.nav-bar a:after {
  left: 0;
  top: 0;
  padding: 0.4em 0;
  position: absolute;
  content: attr(data-hover);
  color: var(--brand-main);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.nav-bar a:hover:before,
.nav-bar .current a:before {
  opacity: 1;
  width: 100%;
}
.nav-bar a:hover:after,
.nav-bar .current a:after {
  max-width: 100%;
}

/* Landing page */

.carousel-container {
  width: 100%;
  height: 100%;
}

.carousel-image-container {
  position: relative;
  min-height: 700px;
  z-index: 2;
}

.back-float {
  position: absolute;
  width: 120%;
  left: 0;
  top: 0;
  z-index: 3;
  animation: backMove;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.back-float3 {
  position: absolute;
  width: 120%;
  left: 0;
  top: 0;
  z-index: 2;
  animation: backMove3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.middle-float {
  position: absolute;
  top: 20%;
  right: -50%;
  z-index: 4;
  height: 200px;
  animation: middleMove, opacity;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.middle-float3 {
  position: absolute;
  right: -50%;
  z-index: 3;
  animation: middleMove3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.splash-link {
  z-index: 10;
  position: absolute;
  bottom: 15%;
  margin-right: 15%;
  animation: middleMove, opacity;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  text-decoration: underline;
  font-weight: 700;
  color: var(--brand-main);
}

.splash-link-alt {
  color: var(--brand-secondary);
}

.middle-float-lower {
  position: absolute;
  top: 50%;
  right: -50%;
  z-index: 4;
  height: 200px;
  animation: middleMove, opacity;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.front-float {
  position: absolute;
  z-index: 5;
  bottom: 0;
  animation: frontMove;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.front-float2 {
  position: absolute;
  z-index: 5;
  bottom: 0;
  animation: frontMove2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  height: 100%;
}

.front-float3 {
  position: absolute;
  z-index: 4;
  top: 0;
  animation: frontMove3;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes backMove {
  from {left: 0%;}
  to {left: -20%;}
}

@keyframes backMove3 {
  from {left: 0%;}
  to {left: -5%;}
}

@keyframes middleMove {
  from {right: -50%;}
  to {right: 5%;}
}

@keyframes middleMove3 {
  from {right: -50%;}
  to {right: 50%;}
}

@keyframes frontMove {
  from {left: 100%;}
  to {left: 15%;}
}

@keyframes frontMove2 {
  from {left: 100%;}
  to {left: 20%;}
}

@keyframes frontMove3 {
  from {right: -18%;}
  to {right: -10%;}
}

@keyframes opacity {
  from {opacity: 0%;}
  to {opacity: 90%;}
}


/* Highlights Section */

label {
  margin:8px;
}

.highlights-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.photo-card {
  width: calc(100% / 6);
  margin: 0;
  position: relative;
}

.photo-card img {
  width: 100%;
}

.photo-card-hover {
  width: 100%;
  position: absolute;
  padding: 50px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0%;
  transition: all ease-in-out 0.5s;
}

.photo-card-hover h3 {
  width: 100%;
}

.photo-card-hover:hover {
  opacity: 80%;
}


/* Contact Section */


.contact-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  margin: 100px;
}

.contact-container h1 {
  width: 100%;
  color: var(--brand-main);
}

.form-container,
.contact-info {
  width: 45%;
  min-width: 350px;
  z-index: 4;
  margin: 10px 10px;
  padding: 10px 80px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.0px );
  -webkit-backdrop-filter: blur( 13.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--brand-main);
}

.form-container textarea {
  height: 300px;
}


/* About  */



/* Footer */

footer {
  width: 100%;
  min-height: 100px;
  background-color: var(--brand-main);
  color: var(--brand-secondary);
}